<!-- HTML -->
<title>ENABLE JAVASCRIPT</title>
<!-- Imports -->
<noscript>No JS enabled</noscript>
<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script
			  src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
<link rel="stylesheet" href="iziToast.min.css">
<script src="iziToast.min.js" type="text/javascript"></script>
<script src="game.js"></script>
<script src="achievements.js"></script>
<link rel="stylesheet" type="text/css" href="game.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="custombuyables.js"></script>
<!-- Code -->
<body>
<div class="p2"><div class="p1"><h3><img src="1.png" width=24 height=24></img>DollarMiner V1.58</h3></div>
<pre>Click on ASCII art to gain dollars.<p /><center><a id="ascii" href="#" onclick="grant()" onmousedown="event.preventDefault ? event.preventDefault() : event.returnValue = false">  |`-.._____..-'|
   :  > .  ,  <  :
   `./ __`' __ \,'
    | (|_) (|_) |
    ; _  .  __  :
    `.,' - `-. ,'
      `, `_  .'
      /       \
     /         :
    :          |_
   ,|  .    .  | \
  : :   \   |  |  :
  |  \   :`-;  ;  |
  :   :  | /  /   ;
   :-.'  ;'  / _,'`------.
   `'`''-`'''-'-''--.---  )
                    `----'</a></center><center><h1 id="money">NaN$</h1></center></pre></div><br><br>
<div class="p2" id="buyables"><div class="p1"><h3><img src="1.png" width=24 height=24></img> Black Market</h3></div><pre><h3 id="dpc"></h3> <button class="hb" onclick="buycpu()">Buy CPU (100$)</button> <button class="hb" onclick="buygpu()">Buy GPU (500$)</button> <button class="hb" onclick="buyserv()">Buy Server L1 (1500$)</button> <button class="hb" onclick="buyfriends()">Send miner to friends (3000$)</button> <button class="hb" onclick="buygpul2()">Buy GPU L2 (5000$)</button></pre></div><br><br>
<div class="p1"><h3><pre> About Developer</pre></div></h3><div class="p2"><pre> Clicker Game made by <strong>JackGlow</strong>!
  If you want to use Clicker Game for self you can find it on my GitHub!
  <a href=https://github.com/jackglow>github.com/jackglow</a></div>
   </body>
   